# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  'atom-text-editor':[
    {label:'Toggle autocomplete-clang', command:'autocomplete-clang:toggle'}
    {label:'Goto Declaration', command:'autocomplete-clang:go-declaration'}
  ]

'menu': [
  {
    label: 'Packages'
    submenu: [
      label: 'Autocomplete Clang'
      submenu: [
        {label:'Toggle', command:'autocomplete-clang:toggle'}
        {label:'Emit Precompiled Header', command:'autocomplete-clang:emit-pch'}
      ]
    ]
  }
]
